@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@300&display=swap');
.header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1rem 0rem;
  height: 15vh;
  // .headerLogo {
  //   position: absolute;

  //   left: 0;
  // }
  .ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 16px;
      a {
        color: #f5f5f5;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .headerSearch {
    position: absolute;
    cursor: pointer;
    right: 0;
    svg {
      height: 17px;
    }
  }
}
