$primary: #1a374d;
$primary-dark: #0d2333;
$blue-light: #1a9cff;
@font-face {
  font-family: faBrands400;
  src: url(../assets/fonts/fa-brands-400.ttf);
}
@font-face {
  font-family: fontAws5FreeSolid;
  src: url(../assets/fonts/font-awsome-5-free-solid.otf);
}
@font-face {
  font-family: myRiadProRegular;
  src: url(../assets/fonts/myriad-pro-regular.ttf);
}
